# Registrar API Configuration
REGISTRAR_API_BASE_URL=https://registrar.svc.nadiki.work

REGISTRAR_API_USERNAME=""
REGISTRAR_API_PASSWORD=""

# OpenAPI Spec URLs (for dynamic client initialization if needed)
FACILITY_API_SPEC_URL=https://raw.githubusercontent.com/SDIAlliance/nadiki-api/refs/heads/main/data-center-facility/facility-api.spec.yaml
RACK_API_SPEC_URL=https://raw.githubusercontent.com/SDIAlliance/nadiki-api/refs/heads/main/rack/rack-api.spec.yaml
SERVER_API_SPEC_URL=https://raw.githubusercontent.com/SDIAlliance/nadiki-api/refs/heads/main/server/server-api.spec.yaml

SUPABASE_URL="postgresql://postgres:PASSWORD@db.omjddaltkhugurqvmvul.supabase.co:5432/postgres"
SUPABASE_KEY="KEY"